<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>logs/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/server-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{ISO8601} [%X{uniqueId}] [%thread] %-5level %logger{100} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger level="DEBUG" name="fr.thiqa"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>